body {
	font-family: Arial, sans-serif;
	background-color: rgb(219, 216, 216);
}

.hang-man-header {
	text-align: center;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.difficulty-btn {
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-weight: bold;
}

.easy {
	background-color: rgb(130, 236, 201);
}

.normal {
	background-color: rgb(127, 191, 255);
}

.hard {
	background-color: rgb(255, 148, 127);
}

.play-container {
	/* display: none; */
}

.hangman {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#scaffold {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#head {
 	/* visibility: hidden; */
	/* visibility: visible; */
}

#body {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#arms {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#legs {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#the-word {
	/* visibility: hidden; */
	font-size: 3rem;
}

#guesses {
	/* visibility: hidden; */
}

/* .underline {
	
	text-decoration:underline dashed;
	text-decoration-color: red;
} */

.gamer-container {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.felord {

}
/* <-------------------------------------------------------------------------------------------> */
