* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: rgb(235, 227, 239);
}

header {
	padding: 1.5rem;
	background-color: rgb(136, 62, 205);
	text-align: center;
}

.nav-bar{
	display: flex;
}

.highscore-btn, .gameview-btn {
	flex-grow: 1;
}

.hang-man-header {
	font-size: 2rem;
	text-shadow: 
		1px 1px 1px rgb(191, 149, 231),
		2px 2px 2px rgb(191, 149, 231);

}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.difficulty-btn {
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-weight: bold;
}

.difficulty {
	color: black;
	font-weight: bold;
}

#error-message {
	color: red;
}




.btn-style {
	padding: 0.4rem;
	background-color: #252424;
	color: rgb(243, 226, 246);
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
}

.easy {
	background-color: rgb(130, 236, 201);
}

.normal {
	background-color: rgb(127, 191, 255);
	cursor: pointer;
}

.hard {
	background-color: rgb(255, 148, 127);
}

.play-container {
	/* display: none; */
}

.hangman {
	background-color: #e3dbe2;
	border-radius: 0 0 1em 1em;
	border: 1em solid rgb(44, 43, 43);
	border-top: none;
	/* visibility: hidden; */
	/* visibility: visible; */
}

#scaffold {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#head {
 	/* visibility: hidden; */
	/* visibility: visible; */
}

#body {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#arms {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#legs {
	/* visibility: hidden; */
	/* visibility: visible; */
}

#the-word {
	/* visibility: hidden; */
	font-size: 3rem;
}

#guesses {
	margin-top: 0;
	letter-spacing: 0.2em;
	font-size: 3rem;
	font-size: 2rem;
}

#guesses-header {
	font-size: 2rem;
	text-decoration: underline;
}

.underline {
	font-size: 3rem;
	/* text-decoration:underline dashed;
	text-decoration-color: red; */
/* .underline {
	
	text-decoration:underline dashed;
	text-decoration-color: red;
} */
}
.game-over-container {
	border: 2px solid red;
	background-color: green;
	display: none;
}


.gamer-container {
	visibility: visible;
}

.hidden {
	display: none;
}

#player-name {
	font-size: 3rem;
	text-shadow: #000 1px 0 0.5rem;
}

.high-score-container {
	text-align: center;
}

.high-score-header {
	color: goldenrod;
	letter-spacing: 0.1em;
	text-decoration: double underline;
	text-shadow:1px 1px 1px #000,
	2px 2px 2px #000; 
	font-size: 4rem;
	padding: 4rem;
}

.high-score-list {
	list-style-type: none;
	padding: 5em;
	font-size: 1.1rem;
	border: 15px solid goldenrod;
}

/* <-------------------------------------------------------------------------------------------> */
